:root{
  --color-scheme-1: rgb(49, 49, 52);
  --color-scheme-2: rgb(67, 67, 72);
  --color-scheme-3: rgb(95, 95, 95);
  --color-scheme-4: rgb(24, 24, 26);
  --color-scheme-5: rgb(151, 124, 99);
  --color-scheme-6: rgb(126, 126, 126);
}

body{
  padding: 0;
  margin: 0;
  font-family: 'Mukta', sans-serif !important;
  color: white;
}

header{
  z-index: 0;
}

.start{
  min-height: 18vh;
  max-height: 18vh;
  min-width: 100vw;
  max-width: 100vw;
  background-color: rgb(49, 49, 52);
  display: flex;
  flex-wrap: none;
  justify-content: space-evenly;
  align-items: center;
  z-index: 10;
}
h1{
  font-size: 50px;
  letter-spacing: 0.4vw;
}

h2{
  max-width: 90%;
  font-size: 34px;
  letter-spacing: 0.3vw;
}

h5{
  font-size:  16px;
  letter-spacing: 0.3vw;
}

.button_default{
  background-color: var(--color-scheme-5);
  font-family: inherit;
  font-size: 14px;
  border: 0;
  padding: 2vh 3vw;
  color: white;
  letter-spacing: 0.1vw;
}

.button_default:hover{
  cursor: pointer;
  background-color: rgb(104, 80, 59);
  transition: all 0.4s;
}

.top_bar.start .logo{
  border: 1px solid black;
  min-width: 14vw;
  min-height: 10vh;
  text-align: center;
  font-size: 26px;
  z-index: 1;
}

.top_bar.start nav{
  min-width: 48vw;
  max-width: 48vw;
  min-height: 8vh;
  max-height: 8vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(49, 49, 52) !important;
  z-index: 1;
}

.top_bar.start a:link{
  color: white;
  text-decoration: none;
  margin: auto 0;
  transition: all 0.3s;
}

.top_bar.start a:visited{
  color: white;
  text-decoration: none;
  margin: auto 0;
  transition: all 0.3s;
}

.top_bar.start a:hover{
  text-transform: uppercase;
  padding-bottom: 1vh;
  border-bottom: 1px solid white;
  transition: all 0.3s;
}

.top_bar.start button{
  min-height: 7vh;
  max-height: 7vh;
  min-width: 87px;
  max-width: 7.5vw;
  font-size: 100%;
  font-family: inherit;
  border: 0;
  padding: 1.25vh 1vw;
  background-color: rgb(67, 67, 72);
  color: white;
}

.top_bar.start button:hover{
  cursor: pointer;
  background-color:rgb(95, 95, 95);
}

header .middle_section{
  min-height: 84vh;
  max-height: 84vh;
  min-width: 100vw;
  max-width: 100vw;
  background-color: rgb(49, 49, 52);
  z-index: 0;
}

header .bottom_section{
  min-height: 260px;
  max-height: 46vh;
  min-width: 100vw;
  max-width: 100vw;
  background-color: rgb(24, 24, 26);
  z-index: 0;
}

.titles{
  display: inline-block;
  position: absolute;
  min-width: 55vw;
  min-height: 48vh;
  top: 30vh;
  left: 12.5vw;
  z-index: 1;
}

.titles button{
  font-family: inherit;
  font-size: 100%;
  border: 0;
  padding: 2vh 3vw;
  color: white;
  letter-spacing: 0.1vw;
  background-color: var(--color-scheme-5);
  transition: all 0.3s;
}

.titles button:hover{
  cursor: pointer;
  background-color: rgb(156, 109, 68);
  transition: all 0.3s;
}

.titles h1{
  max-width: 90%;
}

header .imageContainer{
  /* border: 1px solid black; */
  position: absolute;
  top: 18vh;
  left: 12.5vw;
  min-width: 86vw;
  min-height: 140vh;
  z-index: 1;
}

header .imageContainer img[alt="Hero Image 1"]{
  /* border: 1px solid black; */
  position: absolute;
  top: 0;
  right: 0;
  min-width: 67vw;
  min-height: 106vh;
  z-index: 1;
}

header .imageContainer img[alt="Hero Image 2"]{
  /* border: 1px solid black; */
  position: absolute;
  top: 60vh;
  left: 0;
  min-width: 26vw;
  min-height: 63vh;
  z-index: 2;
}

header .imageContainer .hero_caption{
  display: inline-block;
  position: absolute;
  padding: 0vh 5vw;
  /* border: 1px solid black; */
  min-width: 22vw;
  max-width: 22vw;
  min-height: 57vh;
  top: 77vh;
  left: 35vw;
  background-color: rgb(24, 24, 26);
  z-index: 3;
}

header .hero_caption *{
  margin-bottom: 2vh;
}

.our_services_home {
  transform: translateY(0vh);
  background-color: var(--color-scheme-1);
  min-width: 100vw;
  max-width: 100vw;
  min-height: 240vh;
  z-index: 0;
}

.our_services_home .tiled_image{
  /* border: 1px solid black; */
  position: absolute;
  top: 53vh;
  left: 12.5vw;
  min-width: 78vw;
  min-height: 136vh;
}

.tiled_image img{
  /* border: 1px solid black; */
  position: absolute;
  min-height: 57vh;
  min-width: 38.9vw;
  max-width: 38.9vw;
}

.tiled_image img[alt$="1"]{
  top: 22vh;
  right: 0;
}
.tiled_image img[alt$="2"]{
  top: 47vh;
  left: 0;
}
.tiled_image img[alt$="3"]{
  bottom: 0;
  right: 0;
}

.tiled_image .image_caption{
  display: inline-block;
  position: absolute;
  /* border: 1px solid black; */
  background-color: var(--color-scheme-4);
  padding: 0vh 2.5vw;
  min-height: 240px;
  max-height: 42vh;
  min-width: 21vw;
  max-width: 21vw;
}

.tiled_image .image_caption h2{
  font-size: 24px;
}

.tiled_image #img_caption1{
  top: 0vh;
  right: 13vw;
}

.tiled_image #img_caption2{
  bottom: 22vh;
  left: 13vw;
}
.tiled_image #img_caption3{
  bottom: 15.1vh;
  right: 0vw;
}
.about_us_home{
  background-color: var(--color-scheme-4);
  min-width: 100vw;
  max-width: 100vw;
  min-height: 90vh;
  transform: translateY(0vh);
  z-index: 0;
}

.about_us_home .titles{
  transform: translateY(-23vh);
  top: 0vh;
}

.about_us_home .button_container{
  border: 1px soild black;
  /* background-color: white; */
  position: absolute;
  bottom: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  max-width: 100vw;
  min-height: 10vh;
}

.about_us_home .button_container button{
  background-color: var(--color-scheme-5);
  padding: 2vh 2vw;
  border: 0;
  color: white;
}

.button_container button:hover{
  cursor: pointer;
}

.sections{
  display: flex;
  position: absolute;
  /* background-color: white; */
  /* border: 1px solid black; */
  padding: 0vh 10vw;
  top: 15vh;
  min-width: 80vw;
  max-width: 80vw;
  min-height: 55vh;
  justify-content: center;
  align-items: center;
}

.sections .section_container{
  flex: 1;
  /* border: 1px solid black; */
  min-width: 25vw;
  max-width: 25vw;
  min-height: 55vh;
  max-height: 55vh;
  margin: 0vh 1.5vw;
}

.section_container *{
  margin-bottom: -1vh;
}

.section_container h2{
  font-size: 20px;
}

.newsletter_home{
  background-color: var(--color-scheme-4);
  padding: 3vh 10vw;
  min-width: 80vw;
  max-width: 80vw;
  min-height: 80vh;
  max-height: 80vh;
}

.newsletter_home img{
  border: 1px solid black;
  min-width: 80vw;
  max-width: 80vw;
  min-height: 5vh;
  max-height: 5vh;
}

.newsletter_home .newsletter_container{
  /* border:1px solid black; */
  margin: 2vh auto;
  min-width: 50vw;
  max-width: 50vw;
  min-height: 50vh;
  max-height: 50vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.newsletter_container input{
  border: 0;
  border-bottom: 1px solid var(--color-scheme-3);
  margin-top: 5vh;
  padding-bottom: 3vh;
  background-color: var(--color-scheme-4);
  min-width: 80%;
  max-width: 80%;
  transition: all 0.3s;
}

.newsletter_container input:focus{
  border: 0;
  outline: none;
  border-bottom: 1px solid var(--color-scheme-6);
  color: var(--color-scheme-6);
}

.newsletter_container button{
  margin-top: 3vh;
  padding: 2vh 2vw !important;
}

footer{
  border-top: 2px solid var(--color-scheme-6);
  background-color: var(--color-scheme-2);
  padding: 3vh 14vw;
  min-height: 8vh;
  max-height: 8vh;
  min-width: 72vw;
  max-width: 72vw;
}

footer .footer_content{
  float: left;
}

footer .social_links{
  float: right;
}

.social_links i{
  margin: 0 0.5vw;
  color: white;
}